<header class="all-header">
    <nav>
        <div class="nav-wrapper">

            <a href="{{ path('home') }}" class="brand-logo"><img class="all-header-img float-l" src="{{ asset('img/logo_cojinnov.png') }}"></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                {% if app.user.username is defined  %}
                    <li><a><i class="material-icons left all-header-user-icon">perm_identity</i>{{ app.user.username }}</a></li>
                {% endif %}
                <li><a href="#" data-activates="slide-out" class="button-collapse" style="display: block !important;"><i class="material-icons">menu</i></a></li>
            </ul>
            <ul id="slide-out" class="side-nav" style="background-color: #f2f2f2; color: #7991c1">
                <li><img width="100%" src="{{ asset('img/logo_cojinnov.png') }}"></li>
                <li><div class="divider"></div></li>
                <li><a href="#!user"><i class="material-icons all-header-user-icon" style="color: #7991c1">perm_identity</i>Compte</a></li>
                <li><a href="#!"><i class="material-icons" style="color: #7991c1">done_all</i>Objectifs</a></li>
                <li><a href="#!"><i class="material-icons" style="color: #7991c1">settings</i>Parametres</a></li>
                <li><div class="divider"></div></li>
                <li><a href="/logout"><i class="material-icons" style="color: #7991c1">power_settings_new</i>déconnection</a></li>
            </ul>
        </div>
    </nav>
</header>